.folder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input{
        width: 200px;
    }
    &__list{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__item{
            margin: .5em;
        }
    }
}