@import 'variables.scss';
html,
body {
  padding-left: 20px;
  margin: 0;
  background-color: $background;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
  box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
  &:hover{
    color: $green;
  }
}
ul{
  list-style: none;
}