@import 'variables.scss';
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2em;
  padding: 0 5em;
  &__playlists{
    width: 100%;
  }
}
.top-artists{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 6em 0;
  h2{
    font-weight: 500;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
  }
  &__container{
    margin-top: .3em !important;
    padding: 2em;
    width: 100%;
    min-height: 200px;
  }
  &__list{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    padding: 0;
    &__item{
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 1em;
    
    }
  }
}
.top-artist{
  
  &__info{
    position: absolute;
    background-color: rgba(black, .78);
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    width: 100%;
    padding: .5em;
    bottom: 0;
    &__hidden{
      display: none;
    }
  }
  
  &__image{
    width: 200px;
    height: 200px;
  
  }
}
