@import 'variables.scss';
.tilesGroup{
    width: 100%;
    padding: 0;
    &__title{
        cursor: pointer;
        margin: .5em .3em;
        font-weight: 500;
        font-size: 1.25em;
        &:hover{
            text-decoration: none;
            &::after{
                content: "\2192";
                font-weight: bolder;
                font-size: 1em;
                animation: arrow 200ms linear;
                position: relative;
                text-decoration: none;
            }
        }
    }
    &__list{
        &__wrapper{
            margin-top: .5em;
            padding-top: 1em;
            border: 2px solid $green;
            box-shadow: 4px 5px 0 4px rgba(0, 0, 0, 0.4);
            height: 21em;
            border-radius: 10px;
            overflow: hidden;
        }
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            width: 2em;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: $background-2;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $green;
        }

        &__item{
            margin: 0 .5em;
            height: 80%;
            display: flex;
            align-items: center;
        }
    }
}
.tile{
    background: rgba( $background-2, 0.65 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    padding: .3em;
    height: 100%;
    margin-top: .5em;
    transform: scale(1);
    transition: transform 300ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover{
        transform: scale(1.05);
        background-color: rgba( $background-2, .45);
    }
    &__info{
        &__text, a{
            max-width: 10em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: none;
        }
    }
}
@keyframes arrow {
    0% {
        opacity: 0;
        bottom: -1em;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }

  }