$background: #2D2926;
$background-2: #424242;
$green: #53D63A;

.box{
    background: rgba( $background-2, 0.65 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
  }